# Preprocess NOAA data.

In [10]:
import pandas as pd
import requests

pages = 8

for page in range(1, pages + 1):
    if (page == 1):
        r = requests.get(f"https://www.ngdc.noaa.gov/hazel/hazard-service/api/v1/earthquakes?minYear=2000")
    else:
        r = requests.get(f"https://www.ngdc.noaa.gov/hazel/hazard-service/api/v1/earthquakes?minYear=2000&page={page}")
    data = r.json()["items"]
    if (page == 1):
        all_data = data
    else:
        all_data.extend(data)

df = pd.json_normalize(all_data)

In [11]:
df.to_csv("data/noaa_earthquakes_2000_2025.csv", index=False)

In [12]:
pd.set_option('display.max_columns', None)
print(df.columns)
df.head()

Index(['id', 'year', 'month', 'day', 'hour', 'minute', 'second',
       'locationName', 'latitude', 'longitude', 'eqDepth', 'eqMagnitude',
       'damageAmountOrder', 'eqMagMb', 'publish', 'damageAmountOrderTotal',
       'housesDamagedTotal', 'housesDamagedAmountOrderTotal', 'country',
       'regionCode', 'injuries', 'injuriesAmountOrder', 'housesDestroyed',
       'housesDestroyedAmountOrder', 'housesDamaged',
       'housesDamagedAmountOrder', 'eqMagMw', 'eqMagMs', 'injuriesTotal',
       'injuriesAmountOrderTotal', 'housesDestroyedTotal',
       'housesDestroyedAmountOrderTotal', 'deaths', 'deathsAmountOrder',
       'damageMillionsDollars', 'eqMagMl', 'deathsTotal',
       'deathsAmountOrderTotal', 'damageMillionsDollarsTotal',
       'tsunamiEventId', 'intensity', 'volcanoEventId', 'area', 'missing',
       'missingAmountOrder', 'missingTotal', 'missingAmountOrderTotal',
       'eqMagUnk'],
      dtype='object')

,id,year,month,day,hour,minute,second,locationName,latitude,longitude,eqDepth,eqMagnitude,damageAmountOrder,eqMagMb,publish,damageAmountOrderTotal,housesDamagedTotal,housesDamagedAmountOrderTotal,country,regionCode,injuries,injuriesAmountOrder,housesDestroyed,housesDestroyedAmountOrder,housesDamaged,housesDamagedAmountOrder,eqMagMw,eqMagMs,injuriesTotal,injuriesAmountOrderTotal,housesDestroyedTotal,housesDestroyedAmountOrderTotal,deaths,deathsAmountOrder,damageMillionsDollars,eqMagMl,deathsTotal,deathsAmountOrderTotal,damageMillionsDollarsTotal,tsunamiEventId,intensity,volcanoEventId,area,missing,missingAmountOrder,missingTotal,missingAmountOrderTotal,eqMagUnk
0,5551,2000,1,3,22.0,34.0,12.6,INDIA-BANGLADESH BORDER: MAHESHKHALI,22.132,92.771,33.0,4.6,1.0,4.6,True,1.0,100.0,2.0,INDIA,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5552,2000,1,11,23.0,43.0,56.4,CHINA: LIAONING PROVINCE,40.498,122.994,10.0,5.1,3.0,4.9,True,3.0,8800.0,4.0,CHINA,30,30.0,1.0,3600.0,4.0,8800.0,4.0,5.1,4.7,30.0,1.0,3600.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5553,2000,1,14,23.0,37.0,7.8,CHINA: YUNNAN PROVINCE: YAOAN COUNTY,25.607,101.063,33.0,5.9,4.0,5.4,True,4.0,NaN,NaN,CHINA,30,2528.0,4.0,41000.0,4.0,NaN,NaN,5.9,5.9,2528.0,4.0,41000.0,4.0,5.0,1.0,73.5,5.5,7.0,1.0,73.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5554,2000,2,2,22.0,58.0,1.5,"IRAN: BARDASKAN, KASHMAR",35.288,58.218,33.0,5.3,2.0,5.1,True,2.0,300.0,3.0,IRAN,140,15.0,1.0,100.0,2.0,100.0,2.0,5.3,5.3,15.0,1.0,100.0,2.0,1.0,1.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5555,2000,2,7,19.0,34.0,57.0,SOUTH AFRICA; SWAZILAND: MBABANE-MANZINI,-26.288,30.888,5.0,4.5,1.0,4.5,True,1.0,NaN,NaN,SOUTH AFRICA,10,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
print(f"Total entries: {len(df)}")
print(f"damageAmountOrder: {df['damageAmountOrder'].notna().sum()}")
print(f"damageAmountOrderTotal: {df['damageAmountOrderTotal'].notna().sum()}")
print(f"housesDamaged: {df['housesDamaged'].notna().sum()}")
print(f"housesDamagedTotal: {df['housesDamagedTotal'].notna().sum()}")
print(f"injuries: {df['injuries'].notna().sum()}")
print(f"injuriesTotal: {df['injuriesTotal'].notna().sum()}")
print(f"housesDestroyed: {df['housesDestroyed'].notna().sum()}")
print(f"housesDestroyedTotal: {df['housesDestroyedTotal'].notna().sum()}")

Total entries: 1425
damageAmountOrder: 1140
damageAmountOrderTotal: 1147
housesDamaged: 436
housesDamagedTotal: 428
injuries: 760
injuriesTotal: 771
housesDestroyed: 388
housesDestroyedTotal: 392

In [14]:
df.columns

Index(['id', 'year', 'month', 'day', 'hour', 'minute', 'second',
       'locationName', 'latitude', 'longitude', 'eqDepth', 'eqMagnitude',
       'damageAmountOrder', 'eqMagMb', 'publish', 'damageAmountOrderTotal',
       'housesDamagedTotal', 'housesDamagedAmountOrderTotal', 'country',
       'regionCode', 'injuries', 'injuriesAmountOrder', 'housesDestroyed',
       'housesDestroyedAmountOrder', 'housesDamaged',
       'housesDamagedAmountOrder', 'eqMagMw', 'eqMagMs', 'injuriesTotal',
       'injuriesAmountOrderTotal', 'housesDestroyedTotal',
       'housesDestroyedAmountOrderTotal', 'deaths', 'deathsAmountOrder',
       'damageMillionsDollars', 'eqMagMl', 'deathsTotal',
       'deathsAmountOrderTotal', 'damageMillionsDollarsTotal',
       'tsunamiEventId', 'intensity', 'volcanoEventId', 'area', 'missing',
       'missingAmountOrder', 'missingTotal', 'missingAmountOrderTotal',
       'eqMagUnk'],
      dtype='object')

In [15]:
for col in df.columns:
    for compareCol in df.columns:
        if col in compareCol and compareCol != col:
            print(f"{col} is contained in {compareCol}")

damageAmountOrder is contained in damageAmountOrderTotal
injuries is contained in injuriesAmountOrder
injuries is contained in injuriesTotal
injuries is contained in injuriesAmountOrderTotal
injuriesAmountOrder is contained in injuriesAmountOrderTotal
housesDestroyed is contained in housesDestroyedAmountOrder
housesDestroyed is contained in housesDestroyedTotal
housesDestroyed is contained in housesDestroyedAmountOrderTotal
housesDestroyedAmountOrder is contained in housesDestroyedAmountOrderTotal
housesDamaged is contained in housesDamagedTotal
housesDamaged is contained in housesDamagedAmountOrderTotal
housesDamaged is contained in housesDamagedAmountOrder
housesDamagedAmountOrder is contained in housesDamagedAmountOrderTotal
deaths is contained in deathsAmountOrder
deaths is contained in deathsTotal
deaths is contained in deathsAmountOrderTotal
deathsAmountOrder is contained in deathsAmountOrderTotal
damageMillionsDollars is contained in damageMillionsDollarsTotal
missing is contained in missingAmountOrder
missing is contained in missingTotal
missing is contained in missingAmountOrderTotal
missingAmountOrder is contained in missingAmountOrderTotal

In [16]:
for compareCol in df.columns:
    if "eqMag" in compareCol and compareCol != "eqMag":
        print(compareCol)

eqMagnitude
eqMagMb
eqMagMw
eqMagMs
eqMagMl
eqMagUnk

In [17]:
print(f"eqMagnitude: {df["eqMagnitude"].notna().sum()}")
print(f"eqMagMb: {df["eqMagMb"].notna().sum()}")
print(f"eqMagMw: {df["eqMagMw"].notna().sum()}")
print(f"eqMagMs: {df["eqMagMs"].notna().sum()}")
print(f"eqMagMl: {df["eqMagMl"].notna().sum()}")
print(f"eqMagUnk: {df["eqMagUnk"].notna().sum()}")

df = df.drop(columns=["eqMagnitude", "eqMagMb", "eqMagMs", "eqMagMl", "eqMagUnk"])

eqMagnitude: 1422
eqMagMb: 867
eqMagMw: 1146
eqMagMs: 540
eqMagMl: 114
eqMagUnk: 7

In [18]:
print(len(df.columns))

43

In [19]:
df_imputed.dtypes

NameError: name 'df_imputed' is not defined

In [ ]:
df[df["area"].notna()]["area"]

24      CA
39      WA
51      CA
52      GU
74      NY
        ..
1236    OK
1289    CA
1318    AK
1356    CA
1411    AK
Name: area, Length: 72, dtype: object

In [ ]:
from sklearn.impute import KNNImputer
# if injuriesTotal is different than injuries, take an average
def combine_columns(compare_column_name, column_name, df=df):
    df[column_name] = df[column_name].fillna(df[compare_column_name])
    df[compare_column_name] = df[compare_column_name].fillna(df[column_name])
    df[column_name] = df[column_name].where(df[column_name] == df[compare_column_name], (df[column_name] + df[compare_column_name]) / 2)

    df = df.drop(columns=[compare_column_name])
    return df

df = combine_columns("housesDamaged", "housesDamagedTotal", df)
df = combine_columns("damageAmountOrder", "damageAmountOrderTotal", df)
df = combine_columns("injuries", "injuriesTotal", df)
df = combine_columns("housesDestroyed", "housesDestroyedTotal", df)
df = combine_columns("housesDamagedAmountOrder", "housesDamagedAmountOrderTotal", df)
df = combine_columns("deaths", "deathsTotal", df)
df = combine_columns("damageMillionsDollars", "damageMillionsDollarsTotal", df)
df = combine_columns("missing", "missingTotal", df)
df = combine_columns("missingAmountOrder", "missingAmountOrderTotal", df)

# model-based imputation
# take out location
df_imputed = df.drop(columns=["locationName", "country", "area"])
imputer = KNNImputer(n_neighbors=5)
df_imputed = pd.DataFrame(imputer.fit_transform(df_imputed), columns=df_imputed.columns)

print(len(df.columns))

39

In [ ]:
df_imputed = df_imputed.join(df[["locationName", "country"]])
df_imputed.head()

,id,year,month,day,hour,minute,second,latitude,longitude,eqDepth,eqMagnitude,eqMagMb,publish,damageAmountOrderTotal,housesDamagedTotal,housesDamagedAmountOrderTotal,regionCode,injuriesAmountOrder,housesDestroyedAmountOrder,eqMagMw,eqMagMs,injuriesTotal,injuriesAmountOrderTotal,housesDestroyedTotal,housesDestroyedAmountOrderTotal,deathsAmountOrder,eqMagMl,deathsTotal,deathsAmountOrderTotal,damageMillionsDollarsTotal,tsunamiEventId,intensity,volcanoEventId,missingTotal,missingAmountOrderTotal,eqMagUnk,locationName,country
0,5551.0,2000.0,1.0,3.0,22.0,34.0,12.6,22.132,92.771,33.0,4.6,4.6,1.0,1.0,100.0,2.0,60.0,2.8,2.6,6.88,6.88,1031.4,2.8,8259.4,2.6,1.4,4.84,24.6,1.4,37.700,2596.8,7.0,6060.6,40.8,1.5,4.66,INDIA-BANGLADESH BORDER: MAHESHKHALI,INDIA
1,5552.0,2000.0,1.0,11.0,23.0,43.0,56.4,40.498,122.994,10.0,5.1,4.9,1.0,3.0,8800.0,4.0,30.0,1.0,4.0,5.10,4.70,30.0,1.0,3600.0,4.0,1.0,4.86,4.2,1.0,2273.520,3084.8,7.2,6178.6,8.4,1.0,3.88,CHINA: LIAONING PROVINCE,CHINA
2,5553.0,2000.0,1.0,14.0,23.0,37.0,7.8,25.607,101.063,33.0,5.9,5.4,1.0,4.0,328.8,2.4,30.0,4.0,4.0,5.90,5.90,2528.0,4.0,41000.0,4.0,1.0,5.50,6.0,1.0,73.500,2366.2,6.6,6111.2,29.6,1.0,4.08,CHINA: YUNNAN PROVINCE: YAOAN COUNTY,CHINA
3,5554.0,2000.0,2.0,2.0,22.0,58.0,1.5,35.288,58.218,33.0,5.3,5.1,1.0,2.0,200.0,2.5,140.0,1.0,2.0,5.30,5.30,15.0,1.0,100.0,2.0,1.0,4.66,1.0,1.0,282.800,3096.6,7.0,5984.6,8.8,1.0,4.22,"IRAN: BARDASKAN, KASHMAR",IRAN
4,5555.0,2000.0,2.0,7.0,19.0,34.0,57.0,-26.288,30.888,5.0,4.5,4.5,1.0,1.0,495.0,2.8,10.0,1.0,2.2,6.20,6.24,1.0,1.0,897.4,2.2,1.0,4.88,4.2,1.0,134.704,3316.4,6.4,5984.6,38.2,1.5,4.58,SOUTH AFRICA; SWAZILAND: MBABANE-MANZINI,SOUTH AFRICA

In [ ]:
df_imputed.to_csv("data/noaa_earthquakes_2000_2025_cleaned.csv", index=False)